@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;600;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
  font-size: 14px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Montserrat;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: Montserrat;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1197px;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

@media (max-width: 1207px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 20px;
  }
}

@media (max-width: 479.98px) {
  ._container {
    padding: 0 10px;
  }
}

@media (min-width: 992.98px) {
  ._underline:hover {
    text-decoration: underline;
  }
}

._bold {
  font-weight: 700;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 2;
}

.header__inner {
  max-width: 1197px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0 18px;
}

@media (max-width: 1207px) {
  .header__inner {
    padding: 15px 20px 13px;
  }
}

@media (max-width: 992.98px) {
  .header__inner {
    padding: 10px 20px 9px;
  }
}

.logo-header {
  max-width: 146px;
  height: auto;
  position: relative;
  z-index: 3;
}

@media (max-width: 1207px) {
  .logo-header {
    max-width: 130px;
  }
}

@media (max-width: 992.98px) {
  .logo-header {
    max-width: 115px;
  }
}

.logo-header__img {
  max-width: 100%;
}

.header__block {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1207px) {
  .header__block {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    background: #ffba00;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 90px 20px 10px;
    overflow: auto;
    border-left: 4px solid black;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

@media (max-width: 992.98px) {
  .header__block {
    width: 40%;
    right: -40%;
    padding: 70px 20px 10px;
  }
}

@media (max-width: 767.98px) {
  .header__block {
    width: 55%;
    right: -55%;
  }
}

@media (max-width: 479.98px) {
  .header__block {
    width: 85%;
    right: -85%;
  }
}

.header__block.on {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 38px 0 0;
}

@media (max-width: 1207px) {
  .nav-header {
    display: block;
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.nav-header__item:not(:last-child) {
  margin: 0 25px 0 0;
}

@media (max-width: 1207px) {
  .nav-header__item:not(:last-child) {
    margin: 0 0 20px;
  }
}

.nav-header__link {
  color: #000;
  font-size: 16px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

@media (min-width: 992.98px) {
  .nav-header__link:hover {
    color: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

@media (max-width: 1207px) {
  .nav-header__link {
    font-size: 19px;
    letter-spacing: 2px;
  }
}

.data-company-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1207px) {
  .data-company-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 30px;
  }
}

.data-company-header__info {
  margin: 0 21px 0 0;
}

@media (max-width: 1207px) {
  .data-company-header__info {
    margin: 0 0 15px;
    text-align: center;
  }
}

.data-company-header__number {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  line-height: 1.2;
}

@media (max-width: 1207px) {
  .data-company-header__number {
    font-size: 22px;
  }
}

.data-company-header__schedule {
  color: #000607;
  font-size: 12px;
  text-align: right;
  line-height: 1.2;
}

@media (max-width: 1207px) {
  .data-company-header__schedule {
    text-align: left;
    font-size: 14px;
    padding: 0 0 0 12px;
  }
}

.data-company-header__callback {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border-radius: 1.5em;
  border: 2px solid #ffba00;
  padding: 1.2em 1em;
}

@media (min-width: 992.98px) {
  .data-company-header__callback:hover {
    background: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

@media (max-width: 1207px) {
  .data-company-header__callback {
    border: none;
    background: black;
    color: white;
    padding: 1em 3em;
    border-radius: .7em;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 1207px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 0 0 15px;
    z-index: 3;
    cursor: pointer;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__burger span:last-child {
    bottom: 0;
  }
}

.header__burger.on span {
  background: black;
}

.header__burger.on span:first-child {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.header__burger.on span:nth-child(2) {
  display: none;
}

.header__burger.on span:last-child {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.body-lock {
  overflow: hidden;
}

.shadow {
  position: relative;
}

.shadow:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(184, 184, 184, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.intro {
  background: url(../images/intro/bg2.jpg) no-repeat center/cover;
}

.intro__inner {
  padding: 340px 0 182px;
}

@media (max-width: 1207px) {
  .intro__inner {
    padding: 300px 0 162px;
  }
}

@media (max-width: 992.98px) {
  .intro__inner {
    padding: 200px 0 120px;
  }
}

@media (max-width: 767.98px) {
  .intro__inner {
    padding: 170px 0 100px;
  }
}

@media (max-width: 479.98px) {
  .intro__inner {
    text-align: center;
  }
}

.intro__title {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin: 0 0 43px;
}

.intro__title span {
  display: block;
}

@media (max-width: 1207px) {
  .intro__title {
    font-size: 85px;
  }
}

@media (max-width: 992.98px) {
  .intro__title {
    font-size: 72px;
  }
}

@media (max-width: 767.98px) {
  .intro__title {
    font-size: 65px;
    color: #ffba00;
  }
  .intro__title span {
    margin: 8px 0 0;
    color: white;
    line-height: 1;
    font-size: 27px;
  }
}

@media (max-width: 479.98px) {
  .intro__title {
    font-size: 55px;
  }
  .intro__title span {
    font-size: 21px;
  }
}

.intro__behaviour {
  margin: 0 0 46px;
}

.intro__behaviour-item {
  color: #fff;
  font-size: 21px;
  line-height: 1.64;
  position: relative;
  padding: 0 0 0 23px;
}

.intro__behaviour-item:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 11px;
  width: 11px;
  background: #ffba00;
}

@media (max-width: 1207px) {
  .intro__behaviour-item {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .intro__behaviour-item {
    font-size: 18px;
  }
  .intro__behaviour-item:before {
    height: 8px;
    width: 8px;
  }
}

@media (max-width: 479.98px) {
  .intro__behaviour-item {
    font-size: 15px;
    padding: 0;
  }
  .intro__behaviour-item:before {
    display: none;
  }
}

.intro__price-btn {
  background: #ffba00;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.1em 1.5em;
}

@media (max-width: 1207px) {
  .intro__price-btn {
    font-size: 16px;
  }
}

@media (max-width: 992.98px) {
  .intro__price-btn {
    padding: 1em 1.3em;
  }
}

@media (max-width: 992.98px) {
  .intro__price-btn {
    font-size: 15px;
  }
}

.mention {
  background: #f8f8f8;
}

.mention__inner {
  padding: 42px 47px;
}

@media (max-width: 767.98px) {
  .mention__inner {
    padding: 22px 27px;
  }
}

.row-mention {
  max-width: 657px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .row-mention {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .row-mention {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row-mention__labels {
  margin: 0 20px 0 0;
}

@media (max-width: 767.98px) {
  .row-mention__labels {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 600px) {
  .row-mention__labels {
    margin: 0 0 10px;
  }
}

.row-mention__labels-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-mention__labels-img a:first-child {
  margin: 0 19px 0 0;
}

.row-mention__labels-img a:nth-child(2) {
  margin: 0 12px 0 0;
}

.row-mention__labels-img a img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .row-mention__labels-img a {
    max-width: 110px;
  }
}

.row-mention__labels-text {
  color: #666;
  font-size: 29px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .row-mention__labels-text {
    font-size: 20px;
  }
}

.row-mention__rating {
  color: #000;
  text-transform: uppercase;
  background: #ffba00;
  padding: 24px 13px 16px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .row-mention__rating {
    padding: 10px 7px 9px;
  }
}

.row-mention__rating-num {
  font-size: 75px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .row-mention__rating-num {
    font-size: 45px;
  }
}

.row-mention__rating-text {
  font-size: 8px;
  line-height: 2;
}

.price {
  background: white;
  padding: 98px 0 94px;
}

@media (max-width: 1207px) {
  .price {
    padding: 44px 0;
  }
}

@media (max-width: 767.98px) {
  .price {
    padding: 24px 0;
  }
}

.price__inner {
  max-width: 1136px;
  margin: 0 auto;
}

.price__title {
  color: #000;
  font-size: 44px;
  font-weight: 700;
  line-height: 0.5;
  margin: 0 0 37px;
  text-align: center;
}

@media (max-width: 1207px) {
  .price__title {
    font-size: 37px;
    line-height: 1;
    margin: 0 0 25px;
  }
}

@media (max-width: 767.98px) {
  .price__title {
    font-size: 32px;
    margin: 0 0 20px;
  }
}

@media (max-width: 479.98px) {
  .price__title {
    font-size: 24px;
  }
}

.price__switches {
  margin: 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992.98px) {
  .price__switches {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (max-width: 767.98px) {
  .price__switches {
    margin: 0 0 10px;
  }
}

.price__switch {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  border: .2em solid #ffba00;
  background: white;
  margin: 0 7px 0 0;
}

.price__switch--first {
  padding: 13px 36px;
}

.price__switch--second {
  padding: 13px 23px;
}

.price__switch--third {
  padding: 13px 56px;
}

.price__switch--fourth {
  padding: 13px 20px;
  margin: 0;
}

@media (max-width: 767.98px) {
  .price__switch {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .price__switch:nth-child(1) {
    margin: 0 7px 10px 0;
  }
  .price__switch:nth-child(2) {
    margin: 0 0 10px 0;
  }
  .price__switch:nth-child(3) {
    margin: 0 7px 0 0;
  }
}

@media (max-width: 550px) {
  .price__switch {
    padding: 10px 0;
  }
}

@media (max-width: 479.98px) {
  .price__switch {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

.price__switch.active {
  background: #ffba00;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.price__slides {
  position: relative;
}

.slide-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

@media (max-width: 992.98px) {
  .slide-price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide-price.active {
  visibility: visible;
  opacity: 1;
  position: relative;
}

.slide-price__unit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  background: #f7f7f7;
}

.slide-price__unit--left {
  padding: 21px 15px 50px;
}

@media (max-width: 992.98px) {
  .slide-price__unit--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767.98px) {
  .slide-price__unit--left {
    display: none;
  }
}

.slide-price__unit--middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44%;
          flex: 0 1 44%;
  background: #e8e8e8;
  padding: 58px 35px 30px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992.98px) {
  .slide-price__unit--middle {
    padding: 35px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide-price__unit--right {
  padding: 21px 20px 50px;
}

@media (max-width: 992.98px) {
  .slide-price__unit--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767.98px) {
  .slide-price__unit--right {
    display: none;
  }
}

.slide-price__img {
  padding-top: 65%;
  position: relative;
  margin: 0 0 43px;
}

.slide-price__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-price__benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-price__benefit:nth-child(2) {
  padding: 0 0 0 5px;
  margin: 0 0 60px;
}

.slide-price__benefit-img {
  margin: 0 13px 0 0;
}

.slide-price__benefit-text {
  color: #000;
  font-size: 12px;
  line-height: 1.39;
}

@media (min-width: 1207px) {
  .slide-price__benefit-text span {
    display: block;
  }
}

.slide-price__benefit-text span span {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-price__main-title {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 33px;
}

@media (max-width: 767.98px) {
  .slide-price__main-title {
    text-align: center;
  }
}

.slide-price__row-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 20px;
}

@media (max-width: 1207px) {
  .slide-price__row-block {
    margin: 0 0 34px;
  }
}

@media (max-width: 992.98px) {
  .slide-price__row-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .slide-price__row-block {
    display: block;
  }
}

.slide-price__block--wall {
  margin: 0 0 7px;
}

@media (max-width: 992.98px) {
  .slide-price__block--wall {
    margin: 0 20px 0 0;
  }
}

.slide-price__block-title {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  padding: 0 0 0 15px;
  line-height: 1.3;
}

.slide-price__block-title:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 9px;
  width: 9px;
  background: #ffba00;
}

.slide-price__block-list {
  padding: 0 0 0 15px;
}

.slide-price__block-item {
  line-height: 1.39;
  font-size: 12px;
  font-style: italic;
}

.slide-price__cost-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1207px) {
  .slide-price__cost-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide-price__past-cost {
  color: #000;
  font-size: 15px;
  line-height: 1.14;
  margin: 0 0 7px;
}

.slide-price__past-cost sup {
  font-size: 10px;
}

.slide-price__past-cost span {
  position: relative;
  font-weight: 700;
}

.slide-price__past-cost span:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 1px;
  width: 100%;
  background: red;
}

.slide-price__current-cost {
  color: #000;
  font-size: 26px;
  font-weight: 700;
}

.slide-price__current-cost sup {
  font-size: 15px;
}

@media (max-width: 1207px) {
  .slide-price__current-cost {
    margin: 0 0 15px;
  }
}

.slide-price__calculate-btn {
  color: #000;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  background: #ffba00;
  padding: 1.2em;
}

.slide-price__top {
  height: 50%;
  padding: 0 0 25px;
}

.slide-price__top--border {
  border-bottom: 1px solid #eee;
}

.slide-price__caption {
  margin: 0 0 10px;
  font-size: 16px;
}

.slide-price__list-icons {
  margin: 0 0 8px;
}

.slide-price__catalog {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 15px;
}

.slide-price__past-price {
  font-size: 12px;
  margin: 0 0 6px;
}

.slide-price__past-price sup {
  font-size: 8px;
}

.slide-price__past-price span {
  position: relative;
}

.slide-price__past-price span:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 1px;
  width: 100%;
  background: red;
}

.slide-price__carrent-price {
  font-size: 17px;
  font-weight: 500;
}

.slide-price__carrent-price sup {
  font-size: 10px;
}

.slide-price__bottom {
  height: 50%;
  padding: 25px 0 0;
}

.discount {
  padding: 188px 0 126px;
  background: url(../images/discount/bg.jpg) no-repeat right -480px center/cover #f8f8f8;
}

@media (min-width: 1440px) {
  .discount {
    background: url(../images/discount/bg.jpg) no-repeat right -380px center/cover #f8f8f8;
  }
}

@media (min-width: 1600px) {
  .discount {
    background: url(../images/discount/bg.jpg) no-repeat right -280px center/cover #f8f8f8;
  }
}

@media (min-width: 1800px) {
  .discount {
    background: url(../images/discount/bg.jpg) no-repeat right -180px center/cover #f8f8f8;
  }
}

@media (max-width: 1207px) {
  .discount {
    background: url(../images/discount/bg.jpg) no-repeat right -700px center/cover #f8f8f8;
  }
}

@media (max-width: 992.98px) {
  .discount {
    padding: 100px 0 80px;
    background: url(../images/discount/bg.jpg) no-repeat right -450px center/cover #f8f8f8;
  }
}

@media (max-width: 767.98px) {
  .discount {
    padding: 30px 0 30px;
    background: url(../images/discount/bg2.jpg) no-repeat right -100px center/cover #f8f8f8;
  }
}

@media (max-width: 680px) {
  .discount {
    background: url(../images/discount/bg2.jpg) no-repeat right -250px center/cover #f8f8f8;
  }
}

@media (max-width: 530px) {
  .discount {
    background: url(../images/discount/bg2.jpg) no-repeat right -300px center/cover #f8f8f8;
  }
}

@media (max-width: 479.98px) {
  .discount {
    background: #f8f8f8;
    padding: 10px 0;
  }
}

.discount__title {
  font-size: 65px;
  font-weight: 700;
  line-height: 0.96;
  margin: 0 0 23px;
}

.discount__title span {
  display: block;
  color: #fc9618;
}

@media (max-width: 992.98px) {
  .discount__title {
    font-size: 52px;
  }
}

@media (max-width: 767.98px) {
  .discount__title {
    font-size: 38px;
    margin: 0 0 14px;
  }
}

@media (max-width: 479.98px) {
  .discount__title {
    font-size: 30px;
    margin: 0 0 10px;
    text-align: center;
  }
}

.discount__subtitle {
  font-size: 28px;
  margin: 0 0 31px;
}

@media (max-width: 992.98px) {
  .discount__subtitle {
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .discount__subtitle {
    font-size: 19px;
    margin: 0 0 25px;
  }
}

@media (max-width: 479.98px) {
  .discount__subtitle {
    font-size: 17px;
    text-align: center;
    margin: 0 0 15px;
  }
}

.discount__logo {
  max-width: 227px;
}

.discount__logo img {
  max-width: 100%;
}

@media (max-width: 992.98px) {
  .discount__logo {
    max-width: 170px;
  }
}

@media (max-width: 767.98px) {
  .discount__logo {
    max-width: 120px;
  }
}

@media (max-width: 479.98px) {
  .discount__logo {
    max-width: 90px;
    margin: 0 auto;
  }
}

.bid {
  background: white;
}

.bid__inner {
  max-width: 1168px;
  margin: 0 auto;
  padding: 121px 0 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bid__unit--text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.bid__unit--slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.unit-bid__title {
  font-size: 37px;
  font-weight: 700;
  margin: 0 0 39px;
}

.unit-bid__body {
  padding: 0 0 0 15px;
}

.unit-bid__behaviour {
  margin: 0 0 45px;
}

.unit-bid__behaviour-item {
  font-size: 21px;
  line-height: 1.39;
  position: relative;
  padding: 0 0 0 25px;
}

.unit-bid__behaviour-item:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 9px;
  width: 9px;
  background: #ffba00;
}

.bid-form__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 535px;
  color: #8d98b1;
  font-size: 17px;
  margin: 0 -10px 30px;
}

.bid-form__user-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  position: relative;
}

.bid-form__user-name:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 22px;
  height: 24px;
  width: 21px;
  background: url(../images/bid/icons/man.jpg) no-repeat center;
}

.bid-form__user-name-input {
  color: #8d98b1;
  font-size: 18px;
  border-bottom: 2px solid #d2d2d2;
  width: 100%;
  padding: 10px 35px 10px 10px;
}

.bid-form__user-tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  position: relative;
}

.bid-form__user-tel:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 22px;
  height: 28px;
  width: 24px;
  background: url(../images/bid/icons/phone.jpg) no-repeat center;
}

.bid-form__user-tel-input {
  color: #8d98b1;
  font-size: 18px;
  border-bottom: 2px solid #d2d2d2;
  width: 100%;
  padding: 10px 40px 10px 10px;
}

.bid-form__agreed-upon {
  color: #aeaeae;
  font-size: 12px;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bid-form__agreed-upon a {
  color: #aeaeae;
  text-decoration: underline;
  padding: 0 0 0 4px;
}

.bid-form__agreed-checkbox {
  margin: 0 11px 0 0;
  width: 19px;
  height: 19px;
}

.bid-form__btn {
  padding: 14px 60px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 17px;
  border: 2px solid #ffba00;
  background: none;
}

@media (min-width: 992.98px) {
  .bid-form__btn:hover {
    background: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.blue {
  background: url(../images/blue/bg.jpg) no-repeat right top/cover #5fb9ce;
  padding: 81px 0 60px;
}

.blue__interest {
  color: #fff;
  font-size: 317px;
  font-weight: 700;
  line-height: .7;
}

.blue__benefit {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  line-height: 2.4;
}

.blue__benefit:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}

.blue__behaviour {
  margin: 0 0 41px;
}

.blue__behaviour-item {
  color: #fff;
  font-size: 24px;
  line-height: 1.46;
  padding: 0 0 0 43px;
  position: relative;
}

.blue__behaviour-item:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  height: 9px;
  width: 9px;
  background: white;
}

.blue__btn {
  font-size: 18px;
  padding: 22px 42px;
  background: white;
  border-radius: 1em;
  border: 2px solid #ffba00;
}

@media (min-width: 992.98px) {
  .blue__btn:hover {
    background: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.orange {
  background: #ffba00;
  padding: 87px 0 39px;
}

.orange__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.5;
  margin: 0 0 64px;
}

.orange__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -11px;
}

.orange__unit-wrap {
  padding: 0 11px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin: 0 0 78px;
}

.unit-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unit-orange__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.unit-orange__number-top {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px;
}

.unit-orange__number-bottom {
  color: #000607;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
}

.unit-orange__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
}

.unit-orange__par {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  padding: 0;
}

@media (min-width: 1207px) {
  .unit-orange__par--1 {
    padding: 0 95px 0 0;
  }
  .unit-orange__par--2 {
    padding: 0 115px 0 0;
  }
  .unit-orange__par--3 {
    padding: 0 120px 0 0;
  }
  .unit-orange__par--4 {
    padding: 0 60px 0 0;
  }
  .unit-orange__par--5 {
    padding: 0 70px 0 0;
  }
  .unit-orange__par--6 {
    padding: 0 40px 0 0;
  }
}

.unit-orange__par-tel {
  color: #000607;
  font-weight: 700;
  line-height: normal;
}

.unit-orange__par-link {
  color: #000607;
  text-decoration: underline;
}

.clients-slider {
  background: white;
  padding: 107px 0 123px;
}

.clients-slider__inner {
  max-width: 989px;
  margin: 0 auto;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-item__img {
  margin: 0 45px 0 0;
}

.clients-item__title {
  font-size: 44px;
  font-weight: 700;
  margin: 0 0 28px;
}

.clients-item__par {
  color: #000607;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4;
  margin: 0 0 32px;
}

.clients-item__name {
  font-family: MyriadPro;
  font-size: 25px;
  text-align: right;
}

.contacts {
  background: white;
}

.contacts__title {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 60px;
}

.contacts__content {
  border: 17px solid #ffba00;
  padding: 88px 47px 43px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__unit--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.contacts__unit--right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.unit-contacts__city {
  font-size: 39px;
  margin: 0 0 27px;
}

.unit-contacts__street {
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 40px;
}

@media (min-width: 1207px) {
  .unit-contacts__street {
    padding: 0 230px 0 0;
  }
}

.social-contacts {
  margin: 0 0 64px;
}

.social-contacts__link a {
  color: #000;
  font-size: 18px;
}

.social-contacts__link--inst a {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.social-contacts__link--email a {
  font-family: MyriadPro;
}

.contacts__announcement {
  font-size: 14px;
  position: relative;
  padding: 22px 0 0;
}

.contacts__announcement:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 70px;
  background: black;
}

.unit-contacts__number {
  margin: 0 0 15px;
}

.unit-contacts__number a {
  color: #000;
  font-size: 42px;
  font-weight: 700;
}

.unit-contacts__schedule {
  font-size: 17px;
  margin: 0 0 19px;
}

.unit-contacts__btn-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.unit-contacts__btn {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 17px;
  background: white;
  border-radius: 17px;
  border: 2px solid #ffba00;
}

@media (min-width: 992.98px) {
  .unit-contacts__btn:hover {
    background: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.unit-contacts__data {
  font-size: 14px;
  line-height: 2.14;
}

.unit-contacts__tech-info {
  color: #960;
}

.unit-contacts__politics {
  color: #960;
  text-decoration: underline;
}

.footer {
  background: #1d1d1d;
  padding: 97px 0 75px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 70px;
}

.box-footer__logo {
  margin: 0 0 12px;
  max-width: 146px;
}

.box-footer__logo img {
  max-width: 100%;
}

.box-footer__behaviour {
  font-family: MyriadPro;
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
}

.box-footer__deviz {
  color: white;
  line-height: 1.71;
}

@media (min-width: 1207px) {
  .box-footer__deviz {
    padding: 0 270px 0 0;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 770px;
  margin: 0 -30px;
  width: 100%;
}

.unit-footer {
  padding: 0 30px;
}

.unit-footer__list {
  position: relative;
  padding: 26px 0 0;
}

.unit-footer__list:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: white;
}

.footer__unit--price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
}

.unit-footer__item a {
  color: #f9f9f9;
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 2.14;
}

@media (min-width: 992.98px) {
  .unit-footer__item a:hover {
    color: #ffba00;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.footer__unit--portfolio {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
}

.footer__unit--social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.footer__unit--social p {
  font-weight: 700;
  color: #f9f9f9;
  margin: 0 0 13px;
}

.footer__unit--social a {
  color: #ffba00;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__unit--social a img {
  margin: 0 7px 0 0;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  color: #666;
  font-family: MyriadPro;
  font-size: 14px;
}

.footer__up-btn-block {
  position: relative;
}

.footer__up-btn-block:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 16px;
  width: 15px;
  background: url(../images/footer/icons/arrow-top.png) no-repeat center;
}

.footer__up-btn {
  color: #666;
  font-family: Poppins;
  font-size: 20px;
  background: none;
  padding: 0 0 0 25px;
}
