.blue
  background: url(../images/blue/bg.jpg)no-repeat right -110px top / cover #5fb9ce
  padding: 81px 0 60px
  @media (max-width: $md1)
    background: url(../images/blue/bg.jpg)no-repeat right -300px top / cover #5fb9ce
  @media (max-width: $md3)
    background: url(../images/blue/bg.jpg)no-repeat right -230px top / cover #5fb9ce
  @media (max-width: 650px)
    background: #5fb9ce
    padding: 20px 0 20px

.blue__inner
  @media (max-width: 650px)
    text-align: center

.blue__interest
  color: #fff
  font-size: 317px
  font-weight: 700
  line-height: .7
  @media (max-width: $md1)
    font-size: 300px
  @media (max-width: $md2)
    font-size: 180px
  @media (max-width: $md3)
    font-size: 100px
  @media (max-width: $md4)
    font-size: 80px

.blue__benefit
  color: #fff
  font-size: 38px
  font-weight: 700
  text-transform: uppercase
  display: inline-block
  position: relative
  line-height: 2.4
  &:after
    content: ''
    position: absolute
    bottom: 20px
    left: 0
    height: 2px
    width: 100%
    background: white
  @media (max-width: $md1)
    font-size: 35px
  @media (max-width: $md2)
    font-size: 30px
  @media (max-width: $md3)
    font-size: 25px
    &:after
      bottom: 17px
  @media (max-width: $md4)
    font-size: 20px
    &:after
      bottom: 13px

.blue__behaviour
  margin: 0 0 41px

.blue__behaviour-item
  color: #fff
  font-size: 24px
  line-height: 1.46
  padding: 0 0 0 43px
  position: relative
  &:before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 12px
    height: 9px
    width: 9px
    background: white
  @media (max-width: $md2)
    font-size: 20px
  @media (max-width: $md3)
    font-size: 17px
  @media (max-width: 650px)
    padding: 0
    &:before
      display: none

.blue__btn-block

.blue__btn
  font-size: 18px
  padding: 22px 42px
  background: white
  border-radius: 1em
  border: 2px solid #ffba00
  @media (min-width: 992.98px)
    &:hover
      background: #ffba00
      transition: all .2s linear
  @media (max-width: $md2)
    padding: 19px 38px
  @media (max-width: $md3)
    padding: 15px 25px
