.clients__slider
  min-width: 0
  position: relative
  margin: 0 -30px
  .slick-track
    padding: 0 0 30px
    @media (max-width: $md1)
      padding: 0 0 20px
  .slick-slide
    padding: 0 30px
  .slick-dots
    bottom: 0px
    left: 20%
    @media (max-width: $md3)
      left: 50%
      transform: translateX(-50%)
