.clients-slider
  background: white
  padding: 107px 0 123px

.clients-slider__inner
  max-width: 989px
  margin: 0 auto

.clients-slider__item

.clients-item
  display: flex

.clients-item__img
  margin: 0 45px 0 0

.clients-item__text

.clients-item__title
  font-size: 44px
  font-weight: 700
  margin: 0 0 28px

.clients-item__par
  color: #000607
  font-size: 18px
  font-style: italic
  line-height: 1.4
  margin: 0 0 32px

.clients-item__name
  font-family: $thffm
  font-size: 25px
  text-align: right
