.orange
  background: #ffba00
  padding: 87px 0 39px
  @media (max-width: $md1)
    padding: 50px 0 30px
  @media (max-width: $md3)
    padding: 25px 0 0

.orange__inner

.orange__title
  font-size: 48px
  font-weight: 700
  line-height: 0.5
  margin: 0 0 64px
  @media (max-width: $md1)
    font-size: 44px
    margin: 0 0 55px
  @media (max-width: $md3)
    text-align: center
    font-size: 35px
    margin: 0 0 45px
  @media (max-width: $md4)
    font-size: 28px

.orange__row
  display: flex
  flex-flow: row wrap
  margin: 0 -11px

.orange__unit-wrap
  padding: 0 11px
  flex: 0 1 33.333%
  margin: 0 0 78px
  @media (max-width: $md1)
    flex: 0 1 50%
    margin: 0 0 35px
  @media (max-width: $md3)
    flex: 0 1 100%

.orange__unit

.unit-orange
  display: flex
  align-items: center

.unit-orange__number
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 30px 0 0
  @media (max-width: $md1)
    margin: 0 15px 0 0

.unit-orange__number-top
  width: 49px
  height: 49px
  border-radius: 50%
  border: 2px solid black
  display: flex
  justify-content: center
  align-items: center
  margin: 0 0 8px
  img
    max-width: 70%
  @media (max-width: $md1)
    margin: 0 0 5px
  @media (max-width: $md2)
    width: 35px
    height: 35px
  @media (max-width: $md3)
    margin: 0 0 7px
    width: 30px
    height: 30px

.unit-orange__number-bottom
  color: #000607
  font-family: $sffm
  font-weight: 600
  font-size: 48px
  @media (max-width: $md1)
    font-size: 44px
  @media (max-width: $md2)
    font-size: 40px
  @media (max-width: $md3)
    font-size: 35px
  @media (max-width: $md4)
    font-size: 29px

.unit-orange__text

.unit-orange__title
  font-size: 24px
  font-weight: 700
  margin: 0 0 20px
  @media (max-width: $md1)
    padding: 10px 0 0
    margin: 0 0 15px
    font-size: 22px
  @media (max-width: $md3)
    padding: 5px 0 0
    margin: 0 0 5px
  @media (max-width: $md4)
    padding: 0
    font-size: 19px

.unit-orange__par
  font-size: 14px
  font-weight: 400
  line-height: 1.71
  padding: 0
  @media (min-width: $md1)
    &--1
      padding: 0 95px 0 0
    &--2
      padding: 0 115px 0 0
    &--3
      padding: 0 120px 0 0
    &--4
      padding: 0 60px 0 0
    &--5
      padding: 0 70px 0 0
    &--6
      padding: 0 40px 0 0

.unit-orange__par-tel
  color: #000607
  font-weight: 700
  line-height: normal
  white-space: nowrap

.unit-orange__par-link
  color: #000607
  text-decoration: underline
  white-space: nowrap
